.passwordsection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .activityImage {
        width: 50%;
        height: 100vh;
        background: rgba(5, 87, 162, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;

        .rounded {
            width: 525px;
            height: 540px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: linear-gradient(179.94deg, rgba(255, 255, 255, 0.06) -5.48%, rgba(255, 255, 255, 0) 96.9%);

            .circle {
                width: 367px;
                height: 367px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                /* Creates the circular shape */
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) -25.29%, rgba(255, 255, 255, 0) 97.21%);
            }

            img {
                width: 343px;
                height: 409px;
            }
        }


    }

    .form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 0 120px;

        .content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;

            h2 {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0.20000000298023224px;
                text-align: left;
                color: rgba(125, 143, 179, 1);
            }

            .welcomenote {
                color: rgba(125, 143, 179, 1);
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: left;
            }
        }

        .forminputs {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            TextField {
                border-radius: 12px;
                border: 1px solid rgba(226, 232, 240, 1);
                height: 56px;
                padding: 8px 16px 8px 16px;
                border-radius: 12px;

                &::placeholder {
                    color: rgba(125, 143, 179, 1);
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.20000000298023224px;
                }
            }

            .forgotpassword {
                color: rgba(5, 87, 162, 1);
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
            }


        }

        Button {
            padding: 8px;
            border-radius: 12px;
            text-transform: none;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0.20000000298023224px;
            color: rgba(255, 255, 255, 1);
        }
    }






}

.popup-content {
    background-color: #0557A2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    // opacity: 0.9;
    padding: 20px;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    p{
        color: rgb(45, 167, 45);
        font-weight: 800;
    }
}

/* .popup-title {
    font-size: 20px;
} */

/* .popup-message {
    font-size: 16px;
} */

/* .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
} */

/* .popup-content {
    width: 500px; 
} */