.teachers-data-content{
    width: 78%;
    position: relative;
    left: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}