.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 20px;

    .nav{
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .pro-file{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}