.student-information{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(178, 180, 180);    
    background-color: white;
}