.student-list-items {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 18px;

    .head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-details {
            width: 50%;

            h1 {
                font-family: Poppins;
                font-size: 15px;
                font-weight: 700;
                color: #303972;
            }

            p {
                font-family: Poppins;
                font-size: 12px;
                font-weight: 400;
                color: #A098AE;

                span {
                    font-family: Poppins;
                    font-size: 10px;
                    font-weight: 600;
                }
            }
        }

        .plus-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4D44B5;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

    }

    .search-content {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #A098AE;
        border-radius: 16px;
        

       input{
        width: 90%;
        padding: 5px;
       };

    }

    .recent-student-details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .student-profile {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;


            .sphere {
                background-color: #C1BBEB;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .name-details {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .name {
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 600;
                    color: #303972;
                }

                .class {
                    font-family: Poppins;
                    font-size: 10px;
                    font-weight: 400;
                    color: #A098AE;
                }
            }
        }

        .mail {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #A098AE;
            border-radius: 50%;
            width: 35px;
            height: 30px;
            cursor: pointer;
        }
    }

    .viewmore {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edeff1  ;
        border-radius: 12px;
        padding: 5px;
        cursor: pointer;

        h3 {
            font-family: Poppins;
            font-size: 15px;
            font-weight: 600;
            color: #FF9F43;
        }
    }
}